{% extends 'base.html' %}
{% block title %}Liste des unités de quantité{% endblock %}

{% block content %}
<h2>Liste des unités de quantité</h2>
<a href="{% url 'add_quantity_unit' %}" class="btn btn-primary">Ajouter une unité de quantité</a>

<table class="table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Unité</th>
        </tr>
    </thead>
    <tbody>
        {% for unit in quantity_units %}
        <tr>
        <td>{{ unit.id }}</td>
        <td>{{ unit.unit }}</td>
        <td>
            <a href="{% url 'edit_quantity_unit' unit.id %}" class="btn btn-secondary">Éditer</a>
            <form method="post" action="{% url 'delete_quantity_unit' unit.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        </td>
        </tr>
        {% empty %}
        <tr>
        <td colspan="2">Aucune unité de quantité disponible.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
