{% extends 'base.html' %}
{% block title %}Recette detail{% endblock %}

{% block content %}
{% load static %}

<h2>MyRecipes</h2>

<div class="card mb-4">
  <div class="card-body">
    <h3 class="card-title">{{ recipe.title }}</h3>
    <p class="card-text">{{ recipe.description }}</p>
    <h5>Ingrédients:</h5>
    <ul>
      {% for ri in recipe_ingredients %}
        <li>{{ ri.ingredient.name }} - {{ ri.quantity }} {{ ri.unit.unit }}</li>
      {% empty %}
        <li>Aucun ingrédient disponible.</li>
      {% endfor %}
    </ul>

    <h5>Instructions:</h5>
    <p>{{ recipe.instructions }}</p>
    <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-secondary">Éditer la recette</a>
    <form method="post" action="{% url 'delete_recipe' recipe.id %}" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette recette ? Cette action est irréversible.');">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            Supprimer la recette
        </button>
    </form>

    <a href="{% url 'recipes' %}" class="btn btn-secondary">Retour aux recettes</a>
  </div>

{% endblock %}